body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: auto;
}
#launch_wrapper{
    width: 700px;
    /*Quack quack*/
    border: 0px solid green;
}
#id01{
    height: 30px;
    border: 1px solid yellow;
    font-size: 17px;
    font-style: oblique;
}
div[id*='launch']{
    float: left;
    width: 324px;
    /*border: 1px solid red;*/
    height:24px;
    padding-left: 5px;
    padding-top: 3px;
}
div[id*='wlaunch']{
    width: 350px;
    /*border: 1px solid blue;*/
    float:left;
    height:24px;
}
#wrapper_list{
    padding: 1px;
    height:24px;
    border: 1px solid black;
    overflow: hidden;
    vertical-align: middle;
}
#wrapper_list:hover{
    background-color: #EEEEEE;
}
