body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #212121;
}
/* idk what this is*/
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: auto;
}
/* Launch data table */
#launch_wrapper {
    width: 700px;
    /*border: 1px solid green;*/
}
/* Top most row of the launch table */
#launch_header {
    height: 30px;
    /*border: 1px solid yellow;*/
    font-size: 15px;
}
#cdown {
    font-size: 10px;
}
/* Overall cell */
div[id*='launch']{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 6px;
}
/* Rocket | Company cell*/
div[id*='zlaunch']{
    float:left;
    width: 260px;
    /*border: 1px solid red;*/
    height:24px;

}
/* Time of launch cell */
div[id*='wlaunch']{
    width: 400px;
    /*border: 1px solid blue;*/
    float:left;
    height:24px;
}

span[id*='cdown']{
    float: right;
}

/* One launch row with | Rocket | Time |*/
#wrapper_list{
    height:36px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
}
#wrapper_list:last-child{
    height:36px;
    border-bottom-style: none;
}
#wrapper_list:hover{
    background-color: #EEEEEE;
}
